.header {
  background-image: linear-gradient( 
      to right bottom, 
      $color-primary-dark, 
      $color-primary-light
    );
    @extend %flex-center;
    flex-wrap: wrap-reverse;
    left: 0;
    top: 0;
    overflow: hidden;

    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 22rem;
        padding: 3rem;
        position: relative;
        z-index: 1;
    }


    &__profile {
        border-radius: 50%;
        box-shadow: 0 2rem 2rem rgba($color-black, .3);
        @extend %flex-center;
        height: 20rem;
        outline: .8rem solid $color-secondary-dark;
        overflow: hidden;
        position: relative;
        width: 20rem;
    }

    &__caption {
        position: absolute; 
        bottom: -20rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 1rem;
        backdrop-filter: blur(.5rem);
        transition: all .5s;

        svg {
          cursor: pointer;
          width: 5.5rem;
          height: 5.5rem;
          padding: 1rem;
          border-radius: 50%;
          transition: all .5s;
        }
        
        :not(:last-child) {
          margin-right: .4rem;
        }

        :nth-child(1):hover {
          background: $color-github;
          color: $color-white;
        }
        
        :nth-child(2) {
          color: $color-facebook;
        }

        :nth-child(2):hover {
          background: $color-facebook;
          color: $color-white;
        }
        
        :nth-child(3) {
          color: $color-instragram;
        }
        
        :nth-child(3):hover {
          background: $color-instragram;
          color: $color-white;
        }
    }

  

    &__profile:hover &__caption {
        bottom: -50%;
    }

    &__profile img{
        width: 100%;
        height: 100%; 
        transition: all .5s;
        object-fit: cover;
        object-position: center;
    }
    
}

  

  