@keyframes opacity {
	0%,20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes up-down {
	0%,100% {
		transform: none;
	}
	20% {
		transform: scale(0.75, 1.25) translateY(-100%);
	}
}

@keyframes down-up {
	0%,20%,100% {
		transform: none;
	}
	30% {
		transform: scale(0.75, 1.25) translateY(100%);
	}
}


.goo-filter {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.opacity-move {
	animation: opacity 1.4s $easing both;
	transform: translateY(0%) !important;
}

.isRed {
    transform: translateY(-20%) !important;
}

.isClicked:before {
	transform: rotate(-135deg) !important;
}

.drippping-bottom .drip {
    animation: up-down $lag-duration $easing both;
}

.drippping-top .drip {
    animation: down-up $lag-duration $easing both;
}


.card-lumpy {
	 height: 40rem;
	 color: $color-primary-dark-2;
	 font-size: 3vmin;
     display: grid;
	 grid-gap: 10vmin;
	 grid-template-rows: repeat(2, 20%) repeat(1, 29%);
	 grid-template-columns: 1fr;
     max-width: 350px;


    &__container-button {
        grid-column: 1;
        grid-row: 1 / span 2;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    &__button {
        z-index: 3;
        cursor: pointer;
        border-radius: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vmin;
        height: 10vmin;
        position: absolute;
        bottom: -5vmin;
        background-color: $color-primary-dark-2;
        color: $color-black;
        box-shadow: $shadow-hight;
        transition: transform calc($duration / 2) $easing;

        &:hover {
            transform: scale(0.9);
        }
        
        &:before {
            content: '';
            position: absolute;
            height: 2vmin;
            width: 2vmin;
            border: 0.5vmin solid transparent;
            border-bottom-color: $color-white;
            border-right-color: $color-white;
            transform: rotate(45deg);
            transition: transform $duration $easing;
        }
    }

    &__content {
      
        border-radius: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        grid-column: 1;
        grid-row: 1 / span 2;
        z-index: 2;
        filter: url(#lumpy);

        &-text {
            background: $color-white;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            z-index: inherit;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            // border: 1px solid $color-black;
        }

        &-image {
            width: 100%;
            height: 50%;
            object-fit: cover;

            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
            transition: all $duration;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }

        }


        h3 {
            width: 100%;
            text-align: left;
            position: relative;
            padding-left: 1rem;
            padding-top: 1rem;
            font-size: 1.7rem;
            text-transform: uppercase;
            color: $color-primary-dark-2;
            
            
            &::before {
                content: '';
                position: absolute;
                bottom: -.4rem;
                left: 1rem;
                width: 90%;
                height: .1rem;
                background: currentColor;
            }
        }

        .icon__container {
            display: flex;
            align-items: center;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            padding: 1rem;
            font-size: 1.3rem;
            width: 4.5rem;
            height: 4.5rem;
            background-color: $color-primary-dark-2;
            color: $color-white;
            border-radius: 1.5rem;
            cursor: pointer;
            transition: all $duration $easing;
            transform-origin: left top;
            overflow: hidden;

            &:hover {
                width: 10rem; 
            }

            &:hover > span {
                opacity: 1;
                transform: translateX(3rem);
            }

            span {
                position: absolute;
                opacity: 0;
                transform: translateX(-6rem);
                transition: all $duration $easing;
            }

            :not(:last-child) {
                margin-right: .4rem;      
            }
        }

        .icon {
            position: absolute;
            width: 2.5rem;
            height: 100%;
            background-color: $color-primary-dark-2;
            color: $color-white;
        }
    }

        p {
            width: 100%;
            padding: .5rem 1rem 1rem 1rem;
            font-size: 1.4rem;
            color: $color-primary-dark-2;
            font-weight: 550;
            text-align: left;
        }
    

    &__bg-content {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: url(#lumpy);
    }

    &__description {
        border-radius: 5vmin;
        @extend %flex-center;
        background: $color-white;
        flex-direction: column;
        position: relative;
        transform: translateY(-140%);
        transition: transform $duration $easing;
        filter: url(#lumpy);

        
        &-content {
            padding: 1.5rem 1rem;
            width: 100%;
            height: 100%;
            z-index: 1;
            @extend %flex-center;
            position: relative;
            flex-wrap: wrap;
            opacity: 0;
            transform: translateY(-80%);
            transition: all $duration $easing;

             :not(:last-child) {
                margin-bottom: .4rem;
             }
            
        }
    }

    &__bg-description {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}


.drip {
	position: absolute;
	height: 10vmin;
	width: 7vmin;
	background: $color-white;
	border-radius: 5vmin;

    
    &--top {
        bottom: 2px;
    }

    &--bottom {
        top: 2px;
        &:nth-child(1) {
            left: 7%;
        }
        &:nth-child(2) {
            left: 35%;
        }
        &:nth-child(3) {
            right: 4%;
        }
    }

	&:nth-child(1) {
		left: 5%;
	}
	&:nth-child(2) {
		left: 30%;
		width: 14vmin;
	}
	&:nth-child(3) {
		right: 2%;
		height: 12vmin;
	}
}

.badge {
    font-size: 1.2rem;
    padding: .5rem .7rem;
    border-radius: 1rem;
    display: inline;
    font-weight: 500;
    transition: all .2s;
    margin: .3rem;
    box-shadow: $shadow-hight;
    color: $color-white;

    &:hover {
        font-weight: 700;
    }
}


.bagde__container {
    @extend %flex-center;
    flex-wrap: wrap;
}
