@keyframes opacity {
	0%,20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes up-down {
	0%,100% {
		transform: none;
	}
	20% {
		transform: scale(0.75, 1.25) translateY(-100%);
	}
}

@keyframes down-up {
	0%,20%,100% {
		transform: none;
	}
	30% {
		transform: scale(0.75, 1.25) translateY(100%);
	}
}

// $color-card: #6b04ff;   
$color-card: $color-secondary-dark;
// $color-card: $color-white;
$duration: 0.5s;
$lag-duration: calc($duration * 1.5);
$easing: cubic-bezier(0.7, 0, 0.2, 1);


.goo-filter {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.opacity-move {
	animation: opacity $lag-duration $easing both;
	transform: translateY(0%) !important;
}

.isRed {
    transform: translateY(0%) !important;
}

.isClicked:before {
	transform: rotate(-135deg) !important;
}

.drippping-bottom .drip {
    animation: up-down $lag-duration $easing both;
}

.drippping-top .drip {
    animation: down-up $lag-duration $easing both;
}


.card-lumpy {
	 height: 40rem;
	 color: $color-white;
	 font-size: 3vmin;
     display: grid;
	 grid-gap: 10vmin;
	 grid-template-rows: repeat(2, 20%) repeat(1, 29%);
	 grid-template-columns: 1fr;


    &__container-button {
        grid-column: 1;
        grid-row: 1 / span 2;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    &__button {
        z-index: 3;
        cursor: pointer;
        border-radius: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vmin;
        height: 10vmin;
        position: absolute;
        bottom: -5vmin;
        background-color: $color-primary-dark-2;
        color: $color-black;
        box-shadow: 0 2vmin 2vmin rgba(0, 0, 0, 0.2);
        transition: transform calc($duration / 2) $easing;
        &:hover {
            transform: scale(0.9);
        }
        &:before {
            content: '';
            position: absolute;
            height: 2vmin;
            width: 2vmin;
            border: 0.5vmin solid transparent;
            border-bottom-color: $color-black;
            border-right-color: $color-black;
            transform: rotate(45deg);
            transition: transform $duration $easing;
        }
    }

    &__content {
      
        border-radius: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        grid-column: 1;
        grid-row: 1 / span 2;
        z-index: 2;
        filter: url(#lumpy);

        
        
        
        &-text {
            background: $color-card;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            z-index: 3;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        &-image {
            width: 100%;
            height: 50%;
            background: url(./proyect.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 40;
            filter: grayscale(8);
            transition: all .5s;
            cursor: pointer;

            &:hover {
                filter: grayscale(0);
                transform: scale(1.1);
            }

        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h3 {
                
                position: relative;
                padding-left: 1rem;
                padding-top: 1rem;
                font-size: 1.7rem;
                text-transform: uppercase;
                color: $color-white;
                
                
                &::before {
                    content: '';
                    position: absolute;
                    bottom: -.4rem;
                    left: 1rem;
                    width: 100%;
                    height: .1rem;
                    background: currentColor;
                }
            }
        }

        p {
            padding: .5rem 1rem 1rem 1rem;
            font-size: 1.4rem;
            color: $color-white;
            font-weight: 550;
            text-align: left;
        }
    }

    &__bg-content {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: url(#lumpy);
    }

    &__description {
        background: $color-card;
        border-radius: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        transform: translateY(-120%);
        transition: transform $duration $easing;
        filter: url(#lumpy);
        background: $color-card;
        // padding: 1rem;

        
        &-content {
            padding: 1.5rem 1rem;
            width: 100%;
            height: 100%;
            z-index: 3;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            opacity: 0;
            transform: translateY(-80%);
            transition: all $duration $easing;
        }
    }

    &__bg-description {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: url(#lumpy);
    }
}



.drip {
	position: absolute;
	height: 10vmin;
	width: 7vmin;
	background: $color-card;
    // background: red;
	border-radius: 5vmin;
    // border-color: $color-card;
    // transition: transform $duration $easing;
    
    &--top {
        bottom: 2px;
    }

    &--bottom {
        top: 2px;
        &:nth-child(1) {
            left: 7%;
        }
        &:nth-child(2) {
            left: 35%;
        }
        &:nth-child(3) {
            right: 4%;
        }
    }

	&:nth-child(1) {
		left: 5%;
	}
	&:nth-child(2) {
		left: 30%;
		width: 14vmin;
	}
	&:nth-child(3) {
		right: 2%;
		height: 12vmin;
	}
}

.badge {
    font-size: 1.2rem;
    padding: .5rem .7rem;
    border-radius: 1rem;
    display: inline;
    font-weight: 500;
    transition: all .2s;
    margin: .3rem;
    box-shadow: -5px -1px 14px -3px rgba(0,0,0,0.75);
    color: $color-white;

    &:hover {
        font-weight: 700;
    }
}


.bagde__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    // width: 100%;
    // height: 100%;
}

.icon__container {
    // position: relative;
    margin-right: .5rem;
    margin-top: .5rem;
    // margin-bottom: .5rem;
    background: $color-primary-dark-2;
    padding: .5rem;
    width: 50%;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    
    &:hover {
        box-shadow: -4px 2px 13px -3px rgba(0,0,0,0.75);
        transform: scale(1.05);
        background: $color-primary-dark;
    }

    &:nth-child(1) {
        margin-right: .1rem;
    }
}


// .tooltip {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     padding: 0.3em 0.6em;
//     opacity: 0;
//     pointer-events: none;
//     transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
//     background: $color-primary-dark-2;
//     z-index: -1;
//     border-radius: 8px;
//     scale: 0;
//     transform-origin: 0 0;
//     text-transform: capitalize;
//     font-weight: 400;
//     font-size: 16px;
//     box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
//   }
  

// .tooltip::before {
//     position: absolute;
//     content: "";
//     height: 0.6em;
//     width: 0.6em;
//     bottom: -0.2em;
//     left: 50%;
//     transform: translate(-50%) rotate(45deg);
//     background: $color-primary-dark-2;
//   }

// .icon__container:hover .tooltip {
//     top: -180%;
//     opacity: 1;
//     visibility: visible;
//     pointer-events: auto;
//     scale: 1;
//     animation: all 0.5s ease-in-out both;
//     z-index: 5000;
// }


