$color-white: #fff;
$color-black: #000;
$color-primary-light: #030a50;
$color-primary-dark: #0A1D29;
$color-secondary-light: #8afcd6;
$color-secondary-dark: #158560;
$color-aux: #2aca95;
$color-github: #24292E;
$color-facebook: #3b5998;
$color-instragram: #C13584;