.btn {
    &,
    &:link, 
    &:visited {
        position: relative;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        border: .3rem solid $color-secondary-dark;
        // color: $color-white);
        color: $color-white;
        cursor: pointer;
        user-select: none;
        background: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-secondary-dark 50%,
        );
        background-size: 220%;
        transition: $transition-default;
        box-shadow: $shadow-low;
    }

    &:hover{
        background-position: right;
        color: $color-primary-dark;
        transform: translate(.2em,-.3rem);
        box-shadow: $shadow-hight;
    }

    &:active {
        transform: translate(-.1rem, .1rem);
        box-shadow: $shadow-medium;
    }

    &--s {
        padding: .5rem 2.5rem;
    }
    
    &--m {
        padding: 1rem 3rem;
    }

    &--l {
        padding: 1.5rem 5rem;
    }

}
