.project {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $color-primary-dark;

    h2 {
        padding: 4rem;
    }

    &__container {
        display: grid;
        width: 90%;
        height: 80%;
        background: $color-secondary-dark;
    }
}