
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
	--background: #8afcd6;
	--primary: #0A1D29;
	--secondary: #030a50;
	--third: #2aca95;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
