:export {
    colorWhite: $color-white;
    colorBlack: $color-black;
    colorPrimaryLight: $color-primary-light;
    colorPrimaryDark: $color-primary-dark;
    colorSecondaryLight: $color-secondary-light;
    colorSecondaryDark: $color-secondary-dark;
    colorTertiaryLight: $color-tertiary-light;
    colorTertiaryDark: $color-tertiary-dark;
    colorAux: $color-aux;
    colorGithub: $color-github;
    colorFacebook: $color-facebook;
    colorInstragram: $color-instragram;
    // colorReact: $color-react;
    // colorNode: $color-node;
    // colorRedux: $color-redux;
    // colorTypescript: $color-typescript;
    // colorMongo: $color-mongo;
}