.about {
  background-color: $color-primary-dark;
  
  &__content {
      // height: 100%;
      height: 60vh;
      margin: 0 auto;
      @extend %flex-center;
      flex-direction: column;
      color: $color-white;
      text-align: center;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      padding: .4rem;
      max-width: 440px;
      
      &-text {
        height: 99%;
        padding: 1.5rem;
        background-color: $color-primary-dark;
        border-radius: inherit;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
      }

      &::before {
        content: '';
        position: absolute;
        width: 35%;
        display: block;
        background-image: linear-gradient(90deg, transparent, $color-secondary-dark, transparent);
        height: 100vw;
        animation: completeRotate 4.5s linear infinite;
        z-index: 1;
      }

    }

    &__image {
        width: 70%;
        height: 60%;
        margin: 0 auto;
        background-image: url('https://picsum.photos/id/1011/250/250');
        background-size: cover;
        background-position: center;
        transition: .3s linear;
        cursor: pointer;
        border-radius: 1rem;
        
        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: inherit;
        }

        &::before {
          inset: 0.70rem;
          border-radius: inherit;
          background: black;
          z-index: -1;
          transform: translateZ(-50px);
          filter: blur(15px);
          opacity: 1;
        }
        
        &::after {
          z-index: -2;
          inset: -1rem;
          background: linear-gradient(-45deg, $color-secondary-light, $color-secondary-dark);
          transform: translateZ(-50px);
        }
     }

}

