.about {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    background-color: $color-primary-dark;
    // overflow: visible;

    
    &__content {
        h2 {
            padding-bottom: 4rem;
        }

        background: $color-white;
        display: flex;   
    }

    &__image {
        width: 50%;
        height: 50%;
        background: url(./profile.jpg);
        background-size: cover;
        background-position: center;
        @extend %flex-center;
        // clip-path: circle(90% at 92% 50%);
    }
}