.split-view {
    position: absolute;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
    
    &__panel {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        overflow: inherit;

        &-content {
            position: inherit;
            width: 100vw;
            min-height: 45vw;
            color: $color-white;

            &--skew {
                transform: skew(30deg);
                margin-left: 1000px;
            }
        }

        &-description {
            width: 25%;
            position: absolute;
            height: 100%;
            text-align: center;
            flex-direction: column;
            @extend %flex-center;

            h2 {
                margin-bottom: 2rem;
            }
            
            &--right {
                right: 5%;
            }

                        
            &--left {
                left: 5%;
            }
        }

        figure {
            @extend %absolute-center;
            width: 35%;
            
            img {
                width: 100%;
                box-shadow: $shadow-hight;
                border-radius: 3vmin;
            }
            
            figcaption {
                @extend %absolute-center;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
               mix-blend-mode: overlay;
               line-height: 10rem;
               text-align: center;
            }
        }

        &__image--top:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color-primary-dark, .8);
            border-radius: 3vmin;
        }


        &--bottom {
            background-color: $color-secondary-dark;
            z-index: 1;
        }

        &--top {
            background: $color-primary-dark-2;
            z-index: 2;
            width: 50vw;
            transform: skew(-30deg);
            margin-left: -1000px;
            width: calc(50vw + 1000px);
        }
    }

    &__handle {
        position: absolute;
        display: block;
        background-color: $color-primary-dark;
        width: 8px;
        top: 0;
        left: 50%;
        z-index: 3;
        transform: rotate(30deg) translateY(-25%);
        height: 200%;
        transform-origin: 25% 25%;
    }
}